html
  head
    title= title
    style
      include ../public/styles/job.css 
    include ../public/header.html

  body
    .container
      .row
        include ../public/menu_button.html
      .row
        include ./menu.jade
        ul(id='jobs', class="list-group col-xs-11") 
          each job,index in jobs
            li.row(class="list-group-item")
              .col-xs-10
                a(href='/job/' + index + qparams ): h2= job.title
              .col-xs-2
                p= job.pay
                if job.favorite
                  i(class="glyphicon glyphicon-heart")
                else
                  i(class="glyphicon glyphicon-heart-empty heart")

