html
  head
    title= title
    style
      include ../public/styles/job.css 
    include ../public/Menu_Button.html

  body
    .container
      include ../public/Menu_list.html
      ul(id='jobs')
        each job,index in jobs
          li
            .job
              a(href='/job/' + index + qparams): h2= job.title
              .job_metatdata
                p= job.pay
                if job.favorite
                  img(src='/resources/heart-icon.png')
                else
                  img(src='/resources/black-heart-icon.png')
