h2 Login to Hired
if error
	h3= error
form(action="/users/login" method="post")
	label Username
	input(type="text" name="username")
	br
	label Password
	input(type="text" name="password")
	br
	button(type="submit") Login
