h2 Register with Hired
form(action="/users/create" method="post")
	label Name
	input(type="text" name="name")
	br
	label Username
	input(type="text" name="username")
	br
	label Password
	input(type="text" name="password")
	br
	button(type="submit") Register
