doctype html
html
	include ./includes/header.jade
	body
		a(href='/other.html') Link to other file :)
		div
			You can also use 
			text.custom-text custom text
		ul.list-group
			li.list-group-item You
			li.list-group-item Can
			li.list-group-item Use
			li.list-group-item Other Stuff Too