doctype html
html
	include ./includes/header.jade
	body.container
		a(href='/other.html') Link to other file :)
		div
			You can also use 
			text.custom-text custom text
		.row.row-grid.vertical-align
			.col-xs-6 Item 1
			.col-xs-2
				button.btn.btn-primary Save
		.row.row-grid
			.col-xs-6.item.vcenter Item 2
			.col-xs-2.vcenter
				button.btn.btn-primary Save
		.row.row-grid
			.col-xs-6.item.vcenter Item 3
			.col-xs-2.vcenter
				button.btn.btn-primary Save